/* header start*/
/* Style the navigation bar */

/* header end*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #0095d3;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.box-container {
  border-top: 1px solid #eaeaea;
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

p {
  font-size: 16px;
  font-family: sans-serif;
}

.margin32px {
  margin: 32px;
}

.show-mobile {
  display: none;
}
.show-desktop {
  display: block;
}

.fullwidth {
  width: 100%;
}
.displayinlinegrid {
  display: inline-grid;
}
.displaynone {
  display: none;
}
.serviceBlock1,
.serviceBlock2 {
  background-color: #eef7fd;
  align-items: center;
  height: 350px;
  margin: 0;
  padding: 1px 0;
  display: flex;
}

.dataServiceBlocks {
  background-color: white;
  margin: 0 16px;
  height: 280px;
  margin: 16px;
  padding: 16px;
  border-radius: 4rem 0.3rem 6rem 0.3rem;
}
.greenText {
  color: #64a500;
}

.text-justify {
  text-align: justify;
}
/*MOBILE*/

@media screen and (max-width: 640px) {
  .serviceBlock1,
  .serviceBlock2 {
    height: auto !important;
    display: block;
  }
  .show-mobile {
    display: block;
  }
  .show-desktop {
    display: none;
  }
  main {
    padding: 0 0 5rem 0;
  }
  .contactusform {
    margin-left: 32px;
  }
}
